nodered_data/.flows.json.backup
[
    {
        "id": "cba3b38867a78e6d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1aace3cbeb0d6dfd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "03c03abb95d94b96",
        "type": "ui_tab",
        "name": "Controles",
        "icon": "Controles",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5939b8b3ba12f0bb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3a07f2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#3a07f2",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#3a07f2",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#714cfa",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3a07f2",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "🏠Casa Inteligente 😶‍🌫️",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d6d11e5f510da65c",
        "type": "ui_group",
        "name": "SmartHome-Pantalla",
        "tab": "03c03abb95d94b96",
        "order": 1,
        "disp": false,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d182a94a859ebfa",
        "type": "ui_spacer",
        "z": "cba3b38867a78e6d",
        "name": "spacer",
        "group": "d6d11e5f510da65c",
        "order": 1,
        "width": 24,
        "height": 1
    },
    {
        "id": "7745f04cf817f9ea",
        "type": "ui_spacer",
        "z": "cba3b38867a78e6d",
        "name": "spacer",
        "group": "d6d11e5f510da65c",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "e187867848e8d24d",
        "type": "ui_spacer",
        "z": "cba3b38867a78e6d",
        "name": "spacer",
        "group": "d6d11e5f510da65c",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3bd564cedd82c40",
        "type": "ui_spacer",
        "z": "cba3b38867a78e6d",
        "name": "spacer",
        "group": "d6d11e5f510da65c",
        "order": 8,
        "width": 24,
        "height": 1
    },
    {
        "id": "4f2d7218ecbbaae2",
        "type": "http in",
        "z": "cba3b38867a78e6d",
        "name": "",
        "url": "/upload-image",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "4fa3f8b73cf6a737",
                "0a614ca3b6be5323",
                "d13c5247dcc8ee1d",
                "790b908da95f7788"
            ]
        ]
    },
    {
        "id": "4fa3f8b73cf6a737",
        "type": "http response",
        "z": "cba3b38867a78e6d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 290,
        "y": 360,
        "wires": []
    },
    {
        "id": "427886dfffa18e6c",
        "type": "file",
        "z": "cba3b38867a78e6d",
        "name": "",
        "filename": "/tmp/imagenes/captura.jpg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "790b908da95f7788"
            ]
        ]
    },
    {
        "id": "b09bed846e736e47",
        "type": "tensorflowCoco",
        "z": "cba3b38867a78e6d",
        "name": "",
        "modelUrl": "",
        "scoreThreshold": 0.5,
        "passthru": "bbox",
        "lineColour": "magenta",
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "34da0bbe81be1790"
            ]
        ]
    },
    {
        "id": "0a614ca3b6be5323",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "427886dfffa18e6c"
            ]
        ]
    },
    {
        "id": "34da0bbe81be1790",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "filtrar persona",
        "func": "// itera sobre el arreglo de detecciones buscando la clase person\nlet detecta_persona = false;\nif (Array.isArray(msg.payload)) {\n    for (let i = 0; i < msg.payload.length; i++) {\n        if (msg.payload[i].class === \"person\") {\n            detecta_persona = true;\n            break;\n        }\n    }\n}\n\n// continua el flujo si se encontro a alguien\nif (detecta_persona) {\n    return msg;\n}\n\n// detiene el proceso si detecto otra cosa\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "f3e899b15555bec5"
            ]
        ]
    },
    {
        "id": "f3e899b15555bec5",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"nombre_archivo\": \"captura.jpg\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "0b588c0bcafc5104"
            ]
        ]
    },
    {
        "id": "0b588c0bcafc5104",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://iot_reconocimiento:5000/reconocer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1610,
        "y": 340,
        "wires": [
            [
                "5c3d0c8bc9ca59d1",
                "7c621e934e67035c",
                "d011a35ed4758ef4",
                "e09892d3ac40396b",
                "b3f61a124f1a0cbb"
            ]
        ]
    },
    {
        "id": "5c3d0c8bc9ca59d1",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "Salida Python",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 140,
        "wires": []
    },
    {
        "id": "790b908da95f7788",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 260,
        "wires": [
            [
                "b09bed846e736e47",
                "81fe041b85e05f34"
            ]
        ]
    },
    {
        "id": "cb5aa7072b764dd3",
        "type": "mqtt in",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1aace3cbeb0d6dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "d30be44562f05cc9",
                "f370a4b8f43eeaf0",
                "c91ec256d73d7327",
                "3f78fc2969fde37a",
                "d596676ac93f72a7",
                "d5b835194dcfbe6f",
                "7ede61f1787cfab7",
                "d2e41f13fc10f35f"
            ]
        ]
    },
    {
        "id": "f370a4b8f43eeaf0",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 740,
        "wires": []
    },
    {
        "id": "d30be44562f05cc9",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 10,
        "width": 8,
        "height": 7,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{msg.payload.temperatura}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 1060,
        "wires": []
    },
    {
        "id": "7ede61f1787cfab7",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 13,
        "width": 8,
        "height": 7,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{msg.payload.humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c91ec256d73d7327",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 15,
        "width": 8,
        "height": 7,
        "gtype": "gage",
        "title": "Micrófono",
        "label": "units",
        "format": "{{msg.payload.microfono}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d13c5247dcc8ee1d",
        "type": "image",
        "z": "cba3b38867a78e6d",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 300,
        "y": 440,
        "wires": []
    },
    {
        "id": "3f78fc2969fde37a",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 11,
        "width": 8,
        "height": 7,
        "gtype": "gage",
        "title": "Nivel de Gas",
        "label": "units",
        "format": "{{msg.payload.gas}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7c621e934e67035c",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.resultado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 420,
        "wires": [
            [
                "433f0257e9f37497"
            ]
        ]
    },
    {
        "id": "433f0257e9f37497",
        "type": "mqtt out",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/camara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1aace3cbeb0d6dfd",
        "x": 2150,
        "y": 420,
        "wires": []
    },
    {
        "id": "d011a35ed4758ef4",
        "type": "ui_text",
        "z": "cba3b38867a78e6d",
        "group": "d6d11e5f510da65c",
        "order": 12,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Persona detectada: ",
        "format": "{{msg.payload.resultado}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "19",
        "color": "#000000",
        "x": 1830,
        "y": 560,
        "wires": []
    },
    {
        "id": "e09892d3ac40396b",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload.resultado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "desconocido",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1810,
        "y": 340,
        "wires": [
            [
                "6f52856032ded4b4"
            ]
        ]
    },
    {
        "id": "aef98006b3116a36",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "mensaje a telegram",
        "func": "msg.payload = {\n    \"chat_id\": \"1455813427\",\n    \"text\": \"alerta de seguridad: se detecto una persona desconocida en el sistema de camaras.\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 340,
        "wires": [
            [
                "1b22efeed61f8c51"
            ]
        ]
    },
    {
        "id": "1b22efeed61f8c51",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot8888114765:AAEg7mB50Fso7Q2uPsHKP7byBhoh1AVJtbw/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2330,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7d4f754df5d7cde2",
        "type": "ui_chart",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 14,
        "width": 8,
        "height": 7,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "d596676ac93f72a7",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 800,
        "wires": [
            [
                "7d4f754df5d7cde2",
                "37a47bf677bb38ea"
            ]
        ]
    },
    {
        "id": "37a47bf677bb38ea",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "24",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 760,
        "wires": [
            [
                "39d4df7c50117294",
                "7dac7e67f4b3d6e4"
            ]
        ]
    },
    {
        "id": "39d4df7c50117294",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 760,
        "wires": [
            [
                "57b6e64bea5c4bcc"
            ]
        ]
    },
    {
        "id": "57b6e64bea5c4bcc",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "mensaje a telegram",
        "func": "msg.payload = {\n    \"chat_id\": \"1455813427\",\n    \"text\": \"Alerta: Temperatura superior a 24 grados.\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "f2bd0e0fb0631bcd"
            ]
        ]
    },
    {
        "id": "f2bd0e0fb0631bcd",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot8888114765:AAEg7mB50Fso7Q2uPsHKP7byBhoh1AVJtbw/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1470,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b3d8d50b9607abe5",
        "type": "ui_template",
        "z": "cba3b38867a78e6d",
        "group": "d6d11e5f510da65c",
        "name": "",
        "order": 9,
        "width": 8,
        "height": 6,
        "format": "<img src=\"data:image/jpeg;base64,{{msg.payload}}\" width=\"100%\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1180,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "81fe041b85e05f34",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "function 1",
        "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "b3d8d50b9607abe5"
            ]
        ]
    },
    {
        "id": "937ac1cd9ab80ad0",
        "type": "ui_text",
        "z": "cba3b38867a78e6d",
        "group": "d6d11e5f510da65c",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Estado del sistema",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 880,
        "wires": []
    },
    {
        "id": "2abc3b19db51f6df",
        "type": "inject",
        "z": "cba3b38867a78e6d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Normal",
        "payloadType": "str",
        "x": 1000,
        "y": 920,
        "wires": [
            [
                "937ac1cd9ab80ad0"
            ]
        ]
    },
    {
        "id": "512aedd7682ad3c2",
        "type": "ui_button",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Activar/Desactivar Cerradura",
        "tooltip": "",
        "color": "",
        "bgcolor": "purple",
        "className": "",
        "icon": "",
        "payload": "alternar",
        "payloadType": "str",
        "topic": "smarthome/equipoXX/comandos",
        "topicType": "msg",
        "x": 1860,
        "y": 500,
        "wires": [
            [
                "433f0257e9f37497"
            ]
        ]
    },
    {
        "id": "7dac7e67f4b3d6e4",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "¡Alerta!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 880,
        "wires": [
            [
                "52d82d8caef84634",
                "937ac1cd9ab80ad0"
            ]
        ]
    },
    {
        "id": "f0c6e143b4a68fa2",
        "type": "ui_text",
        "z": "cba3b38867a78e6d",
        "group": "d6d11e5f510da65c",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2110,
        "y": 220,
        "wires": []
    },
    {
        "id": "52d82d8caef84634",
        "type": "trigger",
        "z": "cba3b38867a78e6d",
        "name": "",
        "op1": "",
        "op2": "Normal",
        "op1type": "nul",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 990,
        "y": 800,
        "wires": [
            [
                "937ac1cd9ab80ad0"
            ]
        ]
    },
    {
        "id": "b3f61a124f1a0cbb",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f52856032ded4b4",
        "type": "trigger",
        "z": "cba3b38867a78e6d",
        "name": "",
        "op1": "🔴 ¡Alerta de Intruso!",
        "op2": "🟢 Sistema Normal",
        "op1type": "str",
        "op2type": "str",
        "duration": "7",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1960,
        "y": 340,
        "wires": [
            [
                "f0c6e143b4a68fa2",
                "aef98006b3116a36"
            ]
        ]
    },
    {
        "id": "d5b835194dcfbe6f",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload.humedad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "70",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "7dac7e67f4b3d6e4",
                "6b2b27c86bc4f999"
            ]
        ]
    },
    {
        "id": "6b2b27c86bc4f999",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 980,
        "wires": [
            [
                "d225c6544915c2cc"
            ]
        ]
    },
    {
        "id": "d225c6544915c2cc",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "mensaje de telegram para humedad",
        "func": "msg.payload = {\n    \"chat_id\": \"1455813427\",\n    \"text\": \"alerta de seguridad: la humedad ha superado el 70%.\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 980,
        "wires": [
            [
                "f2bd0e0fb0631bcd"
            ]
        ]
    },
    {
        "id": "744a18abb4ce8174",
        "type": "ui_switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "label": "Luz patio",
        "tooltip": "",
        "group": "d6d11e5f510da65c",
        "order": 6,
        "width": 7,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1800,
        "y": 1020,
        "wires": [
            [
                "86be666d8d4cfa8a"
            ]
        ]
    },
    {
        "id": "86be666d8d4cfa8a",
        "type": "mqtt out",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/luz_manual",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1aace3cbeb0d6dfd",
        "x": 2020,
        "y": 1020,
        "wires": []
    },
    {
        "id": "00ef81be64159fe7",
        "type": "mqtt in",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/luz_manual",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1aace3cbeb0d6dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1870,
        "y": 920,
        "wires": [
            [
                "5b2b3faa0f951452"
            ]
        ]
    },
    {
        "id": "5b2b3faa0f951452",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 920,
        "wires": []
    },
    {
        "id": "d2e41f13fc10f35f",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "Formato CSV",
        "func": "let fecha = new Date().toLocaleString(\"es-CL\");\n\nlet estado = \"normal\";\nif (msg.payload.temperatura > 24 || msg.payload.humedad > 70) {\n    estado = \"alerta\";\n}\n\nmsg.payload = {\n    timestamp: fecha,\n    temperatura: msg.payload.temperatura,\n    humedad: msg.payload.humedad,\n    gas: msg.payload.gas,\n    estado_alerta: estado\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "3bf649e629ca8364"
            ]
        ]
    },
    {
        "id": "3bf649e629ca8364",
        "type": "csv",
        "z": "cba3b38867a78e6d",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "timestamp,temperatura,humedad,gas,estado_alerta",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "f2186967e6c01e5b"
            ]
        ]
    },
    {
        "id": "f2186967e6c01e5b",
        "type": "file",
        "z": "cba3b38867a78e6d",
        "name": "",
        "filename": "/data/registro_smarthome.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 870,
        "y": 1260,
        "wires": [
            []
        ]
    }
]