nodered_data/.flows.json.backup
[
    {
        "id": "cba3b38867a78e6d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1aace3cbeb0d6dfd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "03c03abb95d94b96",
        "type": "ui_tab",
        "name": "Controles",
        "icon": "Controles",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5939b8b3ba12f0bb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d6d11e5f510da65c",
        "type": "ui_group",
        "name": "SmartHome-Pantalla",
        "tab": "03c03abb95d94b96",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f2d7218ecbbaae2",
        "type": "http in",
        "z": "cba3b38867a78e6d",
        "name": "",
        "url": "/upload-image",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "4fa3f8b73cf6a737",
                "0a614ca3b6be5323",
                "d13c5247dcc8ee1d"
            ]
        ]
    },
    {
        "id": "4fa3f8b73cf6a737",
        "type": "http response",
        "z": "cba3b38867a78e6d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "427886dfffa18e6c",
        "type": "file",
        "z": "cba3b38867a78e6d",
        "name": "",
        "filename": "/tmp/imagenes/captura.jpg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 600,
        "y": 160,
        "wires": [
            [
                "790b908da95f7788"
            ]
        ]
    },
    {
        "id": "b09bed846e736e47",
        "type": "tensorflowCoco",
        "z": "cba3b38867a78e6d",
        "name": "",
        "modelUrl": "",
        "scoreThreshold": 0.5,
        "passthru": "bbox",
        "lineColour": "magenta",
        "x": 570,
        "y": 240,
        "wires": [
            [
                "34da0bbe81be1790"
            ]
        ]
    },
    {
        "id": "0a614ca3b6be5323",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "427886dfffa18e6c"
            ]
        ]
    },
    {
        "id": "34da0bbe81be1790",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "filtrar persona",
        "func": "// itera sobre el arreglo de detecciones buscando la clase person\nlet detecta_persona = false;\nif (Array.isArray(msg.payload)) {\n    for (let i = 0; i < msg.payload.length; i++) {\n        if (msg.payload[i].class === \"person\") {\n            detecta_persona = true;\n            break;\n        }\n    }\n}\n\n// continua el flujo si se encontro a alguien\nif (detecta_persona) {\n    return msg;\n}\n\n// detiene el proceso si detecto otra cosa\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 240,
        "wires": [
            [
                "f3e899b15555bec5"
            ]
        ]
    },
    {
        "id": "f3e899b15555bec5",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"nombre_archivo\": \"captura.jpg\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "0b588c0bcafc5104"
            ]
        ]
    },
    {
        "id": "0b588c0bcafc5104",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://iot_reconocimiento:5000/reconocer",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 320,
        "wires": [
            [
                "5c3d0c8bc9ca59d1",
                "7c621e934e67035c",
                "d011a35ed4758ef4",
                "e09892d3ac40396b"
            ]
        ]
    },
    {
        "id": "5c3d0c8bc9ca59d1",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "Salida Python",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 200,
        "wires": []
    },
    {
        "id": "790b908da95f7788",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 260,
        "wires": [
            [
                "b09bed846e736e47"
            ]
        ]
    },
    {
        "id": "cb5aa7072b764dd3",
        "type": "mqtt in",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1aace3cbeb0d6dfd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 620,
        "wires": [
            [
                "d30be44562f05cc9",
                "f370a4b8f43eeaf0",
                "7ede61f1787cfab7",
                "c91ec256d73d7327",
                "3f78fc2969fde37a",
                "398eec26879333d7",
                "d596676ac93f72a7"
            ]
        ]
    },
    {
        "id": "f370a4b8f43eeaf0",
        "type": "debug",
        "z": "cba3b38867a78e6d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "d30be44562f05cc9",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{msg.payload.temperatura}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 620,
        "wires": []
    },
    {
        "id": "7ede61f1787cfab7",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{msg.payload.humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "c91ec256d73d7327",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Micrófono",
        "label": "units",
        "format": "{{msg.payload.microfono}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 780,
        "wires": []
    },
    {
        "id": "d13c5247dcc8ee1d",
        "type": "image",
        "z": "cba3b38867a78e6d",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 860,
        "y": 20,
        "wires": []
    },
    {
        "id": "3f78fc2969fde37a",
        "type": "ui_gauge",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Nivel de Gas",
        "label": "units",
        "format": "{{msg.payload.gas}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 840,
        "wires": []
    },
    {
        "id": "7c621e934e67035c",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.resultado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 340,
        "wires": [
            [
                "433f0257e9f37497"
            ]
        ]
    },
    {
        "id": "433f0257e9f37497",
        "type": "mqtt out",
        "z": "cba3b38867a78e6d",
        "name": "",
        "topic": "smarthome/equipoXX/camara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1aace3cbeb0d6dfd",
        "x": 1450,
        "y": 340,
        "wires": []
    },
    {
        "id": "d011a35ed4758ef4",
        "type": "ui_text",
        "z": "cba3b38867a78e6d",
        "group": "d6d11e5f510da65c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Persona detectada: ",
        "format": "{{msg.payload.resultado}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "e09892d3ac40396b",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload.resultado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "desconocido",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "aef98006b3116a36"
            ]
        ]
    },
    {
        "id": "aef98006b3116a36",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "mensaje a telegram",
        "func": "msg.payload = {\n    \"chat_id\": \"1455813427\",\n    \"text\": \"alerta de seguridad: se detecto una persona desconocida en el sistema de camaras.\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 280,
        "wires": [
            [
                "1b22efeed61f8c51"
            ]
        ]
    },
    {
        "id": "1b22efeed61f8c51",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot8888114765:AAEg7mB50Fso7Q2uPsHKP7byBhoh1AVJtbw/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "398eec26879333d7",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7d4f754df5d7cde2",
        "type": "ui_chart",
        "z": "cba3b38867a78e6d",
        "name": "",
        "group": "d6d11e5f510da65c",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d596676ac93f72a7",
        "type": "change",
        "z": "cba3b38867a78e6d",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 520,
        "wires": [
            [
                "7d4f754df5d7cde2",
                "37a47bf677bb38ea"
            ]
        ]
    },
    {
        "id": "37a47bf677bb38ea",
        "type": "switch",
        "z": "cba3b38867a78e6d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "24",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "39d4df7c50117294"
            ]
        ]
    },
    {
        "id": "39d4df7c50117294",
        "type": "delay",
        "z": "cba3b38867a78e6d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "57b6e64bea5c4bcc"
            ]
        ]
    },
    {
        "id": "57b6e64bea5c4bcc",
        "type": "function",
        "z": "cba3b38867a78e6d",
        "name": "mensaje a telegram",
        "func": "msg.payload = {\n    \"chat_id\": \"1455813427\",\n    \"text\": \"Alerta: Temperatura superior a 25 grados.\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 440,
        "wires": [
            [
                "f2bd0e0fb0631bcd"
            ]
        ]
    },
    {
        "id": "f2bd0e0fb0631bcd",
        "type": "http request",
        "z": "cba3b38867a78e6d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot8888114765:AAEg7mB50Fso7Q2uPsHKP7byBhoh1AVJtbw/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1450,
        "y": 440,
        "wires": [
            []
        ]
    }
]